$content-fontcolor: #333;
$content-bgcolor: #F1F1F1;
$content-notice-fontcolor: #777;
$search-bgColor:#f5f5f5;
$search-fontColor:#b7b7b7;
$medium-fontColor:#666;
$light-fontColor:#999;
$hightlight-fontColor:#e93b3b;
$btn-bgColor:#7543e0;
$bgColor:#fff;
